<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.marketbrief.weekday-autopilot</string>

  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__</string>

  <key>ProgramArguments</key>
  <array>
    <string>__UV_PATH__</string>
    <string>run</string>
    <string>marketbrief</string>
    <string>weekday-autopilot</string>
    <string>--video-limit</string>
    <string>3</string>
    <string>--renderer</string>
    <string>remotion</string>
  </array>

  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Weekday</key>
      <integer>1</integer>
      <key>Hour</key>
      <integer>16</integer>
      <key>Minute</key>
      <integer>15</integer>
    </dict>
    <dict>
      <key>Weekday</key>
      <integer>2</integer>
      <key>Hour</key>
      <integer>16</integer>
      <key>Minute</key>
      <integer>15</integer>
    </dict>
    <dict>
      <key>Weekday</key>
      <integer>3</integer>
      <key>Hour</key>
      <integer>16</integer>
      <key>Minute</key>
      <integer>15</integer>
    </dict>
    <dict>
      <key>Weekday</key>
      <integer>4</integer>
      <key>Hour</key>
      <integer>16</integer>
      <key>Minute</key>
      <integer>15</integer>
    </dict>
    <dict>
      <key>Weekday</key>
      <integer>5</integer>
      <key>Hour</key>
      <integer>16</integer>
      <key>Minute</key>
      <integer>15</integer>
    </dict>
  </array>

  <key>StandardOutPath</key>
  <string>__REPO_ROOT__/logs/autopilot/weekday-autopilot.out.log</string>
  <key>StandardErrorPath</key>
  <string>__REPO_ROOT__/logs/autopilot/weekday-autopilot.err.log</string>
</dict>
</plist>
